#### 1. Introduction to Python Data Types

In [1]:
my_string = "Hello World"

In [2]:
my_string[::2]

'HloWrd'

In [3]:
my_string[::-3]

'dooe'

In [4]:
name = "Sam"

# name[0] = 'P' -- This assignment is not allowed. String immutability
'P' + name[1:]

'Pam'

In [5]:
letter = 'z'
letter * 5

'zzzzz'

In [6]:
'2' + '5'

'25'

In [7]:
x = 'Hi this is a string'
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [8]:
print("This is a string: {}".format("INSERTED"))

This is a string: INSERTED

In [9]:
print("The {2} {1} {0}".format('fox', 'brown', 'quick'))
print("The {q} {b} {f}".format(f='fox', b='brown', q='quick'))

The quick brown fox
The quick brown fox

In [10]:
# Float formatting follows "{value:width.precision f}"

result = 100/777
print("Result ={r:1.3f}".format(r=result))
print("Result ={r:10.3f}".format(r=result))

Result =0.129
Result =     0.129

In [11]:
name = 'Sachin'
print(f'Hello {name}')

Hello Sachin

In [12]:
# Lists are ordered sequences that can hold variety of object types



list_A = ['one', 'two', 'ten', 'seven']
list_B = ['three']
list_C = list_A + list_B

print(f"Length of list_C: {len(list_C)}")
print(f"Elements in list_C: {list_C}")

print(f'\nCurrent Element in list_A: {list_A}')
list_A[0] = 'four'
print(f'Assiging four to list_A first index. \nElements in list_A: {list_A}')

print(f'\nCurrent Element in list_A: {list_A}')
list_A.append('six')
print(f'Appending six to list_A. \nElements in list_A: {list_A}')

print(f'\nCurrent Element in list_A: {list_A}')
list_A.pop()
print(f'Removing last element from list_A. \nElements in list_A: {list_A}')

print(f'\nCurrent Element in list_A: {list_A}')
list_A.pop(-2)
print(f'Removing second last element from list_A. \nElements in list_A: {list_A}')

Length of list_C: 5
Elements in list_C: ['one', 'two', 'ten', 'seven', 'three']

Current Element in list_A: ['one', 'two', 'ten', 'seven']
Assiging four to list_A first index.
Elements in list_A: ['four', 'two', 'ten', 'seven']

Current Element in list_A: ['four', 'two', 'ten', 'seven']
Appending six to list_A.
Elements in list_A: ['four', 'two', 'ten', 'seven', 'six']

Current Element in list_A: ['four', 'two', 'ten', 'seven', 'six']
Removing last element from list_A.
Elements in list_A: ['four', 'two', 'ten', 'seven']

Current Element in list_A: ['four', 'two', 'ten', 'seven']
Removing second last element from list_A.
Elements in list_A: ['four', 'two', 'seven']

In [13]:
new_list = ['a', 'e', 'x', 'b', 'c']
num_list = [4, 1, 6, 2]
rev_list = [-1, 0, 8, 2]

# returns NoneType
new_list.sort()
num_list.sort()
rev_list.reverse()

print(f"Sorted new_list: {new_list}")
print(f"Sorted num_list: {num_list}")
print(f"Sorted rev_list: {rev_list}")

Sorted new_list: ['a', 'b', 'c', 'e', 'x']
Sorted num_list: [1, 2, 4, 6]
Sorted rev_list: [2, 8, 0, -1]

In [14]:
# Dictionaries are unordered mappings for storing objects. It uses a key-value pairing.
# {'key1': 'value1', 'key2': 'value2'}

# Dictionaries are objects retrieved by key name. They are unordered and cannot be stored.
# Lists are objects retrieved by location. They are ordered sequence which can indexed or sliced.



my_dict = {'key1': 'value1', 'key2': 'value2'}
print(my_dict['key1'])

d = {'k1': 123, 'k2': [0, 1, 2], 'k3': {'inside_dict': 100}}
print(d['k2'][2])
print(d['k3']['inside_dict'])

value1
2
100

In [15]:
new_dict = {'k1': 100, 'k2': 200}
new_dict['k3'] = 300
print(new_dict)

new_dict['k3'] = 3000
print(new_dict)

print(new_dict.keys())
print(new_dict.values())
print(new_dict.items())

{'k1': 100, 'k2': 200, 'k3': 300}
{'k1': 100, 'k2': 200, 'k3': 3000}
dict_keys(['k1', 'k2', 'k3'])
dict_values([100, 200, 3000])
dict_items([('k1', 100), ('k2', 200), ('k3', 3000)])

In [16]:
# Tuples are similar to list BUT they are IMMUTABLE.
# Once an element is assigned inside a tuple, it cannot be reassigned.



t = ('a', 'a', 'a', 'b', 'c')
print(t.count('a'))
print(t.index('a')) # First Occurence

3
0

In [17]:
# Sets are unordered collections of unique elements. 



my_set = set()
print(my_set)

my_set.add(1)
print(my_set)

my_set.add(2)
print(my_set)

set()
{1}
{1, 2}

In [18]:
my_list = [1, 1, 1, 'a', 'a', 'A', 2, '', '', ' ', ' ', ' ']
print(my_list)

my_set = set(my_list)
print(my_set)

[1, 1, 1, 'a', 'a', 'A', 2, '', '', ' ', ' ', ' ']
{'', 1, 2, ' ', 'a', 'A'}

In [19]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [20]:
b = None
print(b)

None

In [21]:
%%writefile file1.txt
Hello. This is a text file.
This is the first line.
This is the second line.
This is the third line.

Overwriting file1.txt

In [22]:
file1 = open('file1.txt')

In [23]:
file1.read()

'Hello. This is a text file.\nThis is the first line.\nThis is the second line.\nThis is the third line.\n'

In [24]:
file1.read() #Reset the cursor.

''

In [25]:
file1.seek(0)
file1.readlines()

['Hello. This is a text file.\n',
 'This is the first line.\n',
 'This is the second line.\n',
 'This is the third line.\n']

In [26]:
file1.close()

In [27]:
with open('file1.txt') as f:
    contents = f.readlines()
    
contents

['Hello. This is a text file.\n',
 'This is the first line.\n',
 'This is the second line.\n',
 'This is the third line.\n']

In [28]:
with open('file1.txt', mode = 'r') as f:
    print(f.read())

Hello. This is a text file.
This is the first line.
This is the second line.
This is the third line.

In [29]:
with open('file1.txt', mode = 'a') as f:
    f.write('This is the fourth line.')
    
with open('file1.txt', mode = 'r') as f:
    print(f.read())

Hello. This is a text file.
This is the first line.
This is the second line.
This is the third line.
This is the fourth line.

In [30]:
with open('file2.txt', mode='w') as f:
    f.write('Second File created')

In [31]:
with open('file2.txt', mode = 'r') as f:
    print(f.read())

Second File created

#### 6.Methods and Functions

In [32]:
def check_even_list(num_list):
    for number in num_list:
        if number%2 == 0:
            return True
        else:
            pass
        
    return False

print(check_even_list([1, 9, 5]))

False

In [33]:
fruit_price = [('apple', 100), ('banana', 200), ('orange', 300)]

# Tuple Unpacking
for fruit, price in fruit_price:
    print(f'{fruit} price {price}')

apple price 100
banana price 200
orange price 300

In [34]:
work_hours = [('sam', 56), ('adam', 63), ('eve', 42), ('phil', 70)]

def employee_check(work_hours):
    max_hours = 0
    emp_max_hours = ''
    
    for emp, hours in work_hours:
        if hours > max_hours:
            max_hours = hours
            emp_max_hours = emp
        else:
            pass
            
    return (emp_max_hours, max_hours)

name, hours = employee_check(work_hours)
print(f'{name} worked for {hours} hours')

phil worked for 70 hours

In [35]:
from random import shuffle
my_list = [' ', 'O', ' ']
shuffle(my_list)

print(my_list)

def player_guess():
    guess = ''
    while guess not in ['0', '1', '2']:
        guess = input("Pick a number: 0, 1 or 2 :: ")
        
    return int(guess)


counter = 1

def check_guess(my_list, guess):
    if my_list[guess] == 'O':
        print("Correct Guess!")
        return 1
    else:
        print("Incorrect Guess!")
        return 0

result = check_guess(my_list, player_guess())
while result != 1:
    counter = counter + 1
    result = check_guess(my_list, player_guess())

print(f'Correct Guess found in {counter} attempts!')

[' ', 'O', ' ']
Pick a number: 0, 1 or 2 :: 0
Incorrect Guess!
Pick a number: 0, 1 or 2 :: 0
Incorrect Guess!
Pick a number: 0, 1 or 2 :: 1
Correct Guess!
Correct Guess found in 3 attempts!

In [39]:
def funcA(*args):
    return sum(args) * 0.05

print(funcA(40, 60))
print(funcA(40, 60, 100))

5.0
10.0

In [42]:
def funcB(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print(f'Fruit: {kwargs["fruit"]}')
    else:
        print('No Fruit present!')

funcB(fruit='apple', vegetable='lettuce')

{'fruit': 'apple', 'vegetable': 'lettuce'}
Fruit: apple

In [45]:
# Positional argument cannot be after keyword argument

def funcC(*args, **kwargs):
    print(f"I would like to have {args[0]} {kwargs['food']}")
    
funcC(1,2,3,fruit='apple', food='egg')

I would like to have 1 egg